@import "~bootstrap/scss/bootstrap";

.back {
    height: 800px;
    width: 300px;
    position: absolute;
    background-color: rgba(144, 178, 223, 0.4);
    z-index: 1;
    margin-left: 70%;
    @media (max-width: 950px) { 
      display: none;
   }
}