@import "~bootstrap/scss/bootstrap";
.security {
  position: relative;
  margin-top: 250px;
  width: 100%;
 
  @media (max-width: 1200px) { 
    margin-top: 250px;
    
 }
 @media (max-width: 991px) { 
  margin-top: 600px;
  
}

  @include media-breakpoint-down(md) {
    margin-top: 550px;
  }

  .securities {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 90px;
      display: block;
      margin-right: 40px;
      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }
    }
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      font-size: 42px;

      @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 32px;
      }
    }
    p {
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #353535;
      
     

      @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 14px;
  
      }
    }
    a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        
        @include media-breakpoint-down(md) {
            text-align: center;
      
          }
    }

    .descr {
      display: block;
      
      @include media-breakpoint-down(md) {
        text-align: center;
        max-width: 450px;
        margin: auto;
  
      }
    }
  }
}
