@import "~bootstrap/scss/bootstrap";
.saver {
    position: relative;
    
    margin-top: 70px;
    .saver-text {
        height: 60vh;
        background-color: #0d60d8;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        @include media-breakpoint-down(sm) {
            padding: 60px;
           }
        .meet-saver {
        
            max-width: 500px;
            margin: 0;
            padding: 0;
           padding-bottom: 20px;
            @include media-breakpoint-down(md) {
               
               text-align: center;
              }
        }
        p {
            max-width: 500px;
            font-size: 16px;
            font-family: "DM Sans", sans-serif;
            @include media-breakpoint-down(md) {
                text-align: center;
                font-size: 16px;
               }
        }
    }
    .saver-img {
        margin: 0;
        height: 60vh;
            padding: 0;
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
    }
}